html {
  min-height: 300vh;
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 300vh;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 100vh;
}

.jigsaw-container {
  position: fixed;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.jigsaw-container > * {
  position: relative;
  display: inline-block;
  border: 5px solid mistyrose;
  top: 0;
  font-size: 5em;
  padding: 0.5em;
}

.jigsaw-container > *:nth-child(4n+1) {
  background: #B18FCF;
}

.jigsaw-container > *:nth-child(4n+2) {
  background: #978897;
}

.jigsaw-container > *:nth-child(4n+3) {
  background: #494850;
}

.jigsaw-container > *:nth-child(4n+4) {
  background: #D8D8F6;
}
